body{
    background-color: rgb(207, 221, 14);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
input{
    display: block;
    margin: 20px;
    margin-bottom: 5px;
    width: 40px;
    padding: 3px;
}
.btn{
    padding: 5px;
    margin-left: 20px;
}
.btn:hover{
    cursor: pointer;
}
h2{
    margin-left: 20%;
}
#resultado{
    font-size: 20pt;
    text-align: center;
}
.pega{
    margin-left: 20%;
}
footer{
    padding: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}